<form
  class="container mat-typography"
  autocomplete="off"
  [formGroup]="changePasswordForm"
  novalidate
  (ngSubmit)="save()"
>
  <h2 mat-dialog-title>Change Password</h2>
  <mat-dialog-content>
    <mat-form-field>
      <input
        formControlName="password"
        #passwordView
        matInput
        (keypress)="focusPasswordConfirm($event)"
        placeholder="New password"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="password.hasError('required')"> required </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="passwordConfirm"
        #passwordConfirmView
        matInput
        placeholder="Confirm password"
        [type]="hideConfirm ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="passwordConfirm.hasError('required')"> required </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      appWhiteClass
      type="submit"
      [disabled]="
        !changePasswordForm.valid || password.value !== passwordConfirm.value
      "
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
