service cloud.firestore {
    match /databases/{database}/documents {
      match /users/{email} {
      	allow read: if request.auth.uid != null;
      }
    }
  
}