<div class="text-white errorMessage container mat-typography">
  <div class="description">
    <div class="title">
      <h1 class="display-1">Unauthorized Access &nbsp;|&nbsp; </h1>

      <h1 class="display-1 warn">401</h1>
    </div>
    <span class="start-left mat-body-1 details-error">
      Your authentication is expired. Please re-login.
    </span>
    <div class="btn-toolbar">
      <!-- <button mat-button [routerLink]="['/login']">Go Login</button> -->
      <!-- <button mat-flat-button (click)="goBack()">Go Back</button> -->
      <button mat-flat-button [routerLink]="['/signin']">Login</button>
    </div>
  </div>

</div>
