$backgroundColor: #dcedc8 !important;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  // background-color: #53643f;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.primary {
  background-color: $backgroundColor;
  color: white !important;
}

mat-nav-list mat-icon {
  padding: 0 24px 0 12px;
}

.menu-icon {
  margin: 0 20px 0 0;

  mat-icon {
    font-size: 40px !important;
    padding: 0;
  }
}

.logo {
  max-width: 80px;
}

mat-toolbar > img {
  padding-top: 50px;
  padding-left: 40px;
}

mat-nav-list {
  margin-top: 60px;
}

.active {
  background-color: #4caf50 !important;
  color: white !important;
}

.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.no-background,
.mat-toolbar
{
  background-color: transparent !important;
}

.icon-circle {
  width: 36px;
  height: 36px;
  border-radius: 36px;
}

.profile {
  width: 32px;
  height: 32px;
  align-self: center;
}

.profile-container {
  border: 1px solid green;
  padding: 4px;
  background-color: transparent;
  border-radius: 36px;
  width: 36px;
  height: 36px;
}
