$backgroundColor: #dcedc8 !important;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  // background-color:$backgroundColor;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.primary {
  background-color: $backgroundColor;
  color: white !important;
}

mat-icon {
  padding: 0 20px 0 14px;
}


.logo {
  max-width: 80px;
}

mat-toolbar > img {
  padding-top: 50px;
  padding-left: 40px;
}

mat-nav-list {
  margin-top: 60px;
}

.active {
  background-color: #4caf50 !important;
  color: white !important;
}

.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
