<div class="text-white errorMessage container mat-typography">
  <div class="description">
    <div class="title">
        <h1 class="display-1">Oops!</h1>
        <h1>|</h1>
        <h1 class="display-1 warn">404</h1>
    </div>
    <span class="start-left mat-body-1 details-error">The requested resouce is not available.</span>
    <div class="btn-toolbar">
      <!-- <button mat-button [routerLink]="['/login']">Go Login</button> -->
      <!-- <button mat-button [routerLink]="['/home']">Go Home</button> -->
      <button mat-button (click)="goBack()">Go Back</button>
    </div>
  </div>

</div>
